@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    margin: 1px;
    background: url(../images/charles2.jpg) center center fixed;
    background-size: cover;
}

body {
    font-family: syne mono, sans-serif;

}

#logo {
    text-align: left;
    font-size: 40px;
    color: black;
    font-weight: 900;
    padding: 10px;
}

#menu {
    text-align: left;
    display: inline-table;
    letter-spacing: 0px;
    margin: 40px 0;
    
}

#menu li {
    font-size: 30px;
    padding: 10px;
    margin-top: 0px;
    text-align: left;
}

#hero-text {
    font-size: 20px;
    text-align: center;
    position: absolute;
    margin-bottom: 10px;
    margin-top: 0;
}

nav {
    text-align: left;
}

a {
    color: black;
    font-weight: 900;
}