@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

* {
    padding: 2px;
    margin: 0px;
    border: 0px;
}


body {
    font-family: syne mono, sans-serif;
    position: absolute;
    width: 100%;
    margin: 0px;
    padding: 0;
    border: 0;
    background-image: url(../images/bukbench.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
}

#logo {
    text-align: left;
    font-size: 40px;
    color: black;
    font-weight: 900;
    padding: 10px;
}
  

#menu li {
    font-size: 25px;
    padding: 10px;
    margin-top: 0px;
    text-align: left;
    
}

a {
    color: black;
    font-weight: 900;
    text-decoration: none;
}

.useful_links {
    padding: 25%;
    margin: 0 auto;
    padding-right: 0%;
    padding-left: 0%;
    padding-bottom: 5%;
    text-align: center; 
    
}

.useful_links > li {
    display: inline;
    font-size: 20px;
    text-align: justify;
    float: right; 

}


.useful_links > li > a {
    color: blanchedalmond;
    text-align: justify;
}

footer {
    text-align: center;
    padding-right: inherit;
}





